@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,900,700);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

// @include prefix(display, flex, webkit ms);
// @include prefix(display, flexbox, ms);
// @include prefix(display, box, webkit);
// @include prefix(flex-direction, column, webkit);
// @include prefix(justify-content, center, webkit);

/**********************************************
MAIN CSS
**********************************************/
$brightBlueColorRGBA: 0, 190, 235;
$brightBlueColorHex: #00BEEB;
$deepBlueColorRGBAfull: RGBA(36, 95, 146, 1);
$deepBlueColorRGBApart: 36, 95, 146;
$deepBlueColorHEX: #205E94;
$mainOrangeColor: #f6a517;
$lightOrange: #F8B848;
$kashmirBlueColor: #5A7389;

html, body, header, div, img, h1, ul, ol, li, {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  @include prefix(box-sizing, border-box, webkit moz);
}
html {
  font-size: 20px;
}
body {
  margin: 0 auto;
  letter-spacing: .05em;
  font: {
    size: 100%;
    family: "Source Sans Pro", sans-serif;
    weight: 600;
  }
  background: {
    color: #eee;
    image: url("../../images/lilly-lighter-bg.jpg");
    size: cover;
  }
}
/**********************************************
GITHUB RIBBON
**********************************************/
.github-fork-ribbon {
  left: 0;
  &:before {
    padding: 1em 0;
    background-color: #FFA500;
  }
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.54em;
    top: 2.8em;
    left: -3.7em;
    @include prefix(transform, rotate(-45deg), webkit moz o);
  }
}
#overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  #inner-message {
    position: absolute;
    width: 75%;
    height: auto;
    top: 20%;
    left: 12.5%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    p.game-over {
      font: {
        size: 3em;
        variant: small-caps;
      }
    }
    p.rank-word,
    p.rank-star {
      font-size: 2em;
    }
    p.game-over {
      background-color: darken($lightOrange, 10%);
      color: white;
      text-shadow: 1px 1px 5px black;
    }
    p.beginner {
      color: red;
    }
  }
}
/**********************************************
MEDIA QUERY - SMALL - MOBILE
**********************************************/
div.wrapper {
  width: 100%;
  margin: 0 auto;
  // background: RGBA(255, 255, 255, 0.8);
  // background: RGBA(149, 121, 109, .5);
  padding-bottom: 3em;
  // background: rgba(0, 0, 0, 0.2);
}
div.container-fluid {
  padding: 0;
}
/**********************************************
HEADING
**********************************************/
header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  h1 {
    margin-top: .2em;
    letter-spacing: .2em;
    color: $deepBlueColorRGBAfull;
    text-shadow: 2px 2px 3px white;
    display: inline-block;
    padding-bottom: .2em;
    font: {
      size: 2em;
      weight: 900;
      family: "Orbitron", cursive;
    }
    // border: 2px solid orange;
  }
  img#cat {
    width: 3em;
    vertical-align: bottom;
    @include prefix(animation, cat 3s infinite linear alternate, webkit moz ms o);
  }
}

@keyframes cat {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

/**********************************************
GAME SETTINGS
**********************************************/
div.info-game-container {
  div.game-info-div {
    margin: 0 auto;
    width: 100%;
    ul {
      list-style-type: none;
      li, p {
        padding: 0 .2em;
      }
      &>li:first-child {
        width: 100%;
        background: RGBA($deepBlueColorRGBApart, .8);
        color: white;
        text-shadow: 1px 1px 2px black;
        text-align: center;
        padding: .2em;
        font: {
          weight: 700;
          variant: small-caps;
          size: 1em;
        }
      }
      ol {
        list-style-position: inside;
      }
    } // ends ul styles
    div.game-info {
      max-width: 75%;
      margin: 2% auto;
      background-color: RGBA(255, 255, 255, .8);
      font-size: .8em;
      img#settings-icon,
      img#game-directions{
        width: 2.5em;
      }
      &.game-mode {
        font-variant: small-caps;
        text-align: center;
        .mode {
          cursor: pointer;
          &:active {
            background-color: RGBA($deepBlueColorRGBApart, .5);
            color: white;
          }
        }
      }
      &.game-directions {
        li#medium-dir,
        li#hard-dir {
          display: none;
        }
      }
      &.game-score {
        ul > li:first-child {
          position: relative;
          span.ranking-info {
            @include prefix(transition, transform .5s, webkit moz o);
            position: absolute;
            right: 10%;
            top: 20%;
            font-weight: 500;
            letter-spacing: 2px;
            &:hover {
              @include prefix(transform, scale(1.3), webkit ms o moz);
              cursor: pointer;
            }
          }
        }
        #num-clicks,
        #pairs-found,
        #pairs-left {
          color: darken($brightBlueColorHex, 10%);
        }
        .green {
          color: green;
        }
        div.reset-button {
          text-align: center;
          margin: 0 auto;
          button {
            margin: .5em;
            border: .1em solid $deepBlueColorHEX;
            background-color: RGBA(255, 255, 255, .8);
            color: $deepBlueColorHEX;
            letter-spacing: .2em;
            &:hover {
              background: RGBA($deepBlueColorRGBApart, .7);
            color: white;
            }
            &:active {
            background-color: RGBA($deepBlueColorRGBApart, 1);
            color: white;
            }
          }
        } // ends div.reset-button
      }
      &.game-timer {
        text-align: center;
        display: none;
        #timer, #seconds, #minutes {
          font-size: 2em;
          color:  green;
        }
        #minutes, #seconds {
          display: none;
        }
      }
    }

  } /* Ends div.game-info-div */
} /* Ends div.info-game-container */
.activeLi {
  background-color: RGBA($deepBlueColorRGBApart, .5);
  color: white;
}
.hoverLi {
  cursor: pointer;
  background-color: RGBA($deepBlueColorRGBApart, .2);
  color: lighten($deepBlueColorHEX, 10%);
}
.error {
  color: darken(red, 20%);
  display: none;
  text-align: center;
  font: {
    size: 1em;
    weight: 700;
  }
}
img#star-icon,
img.star-icon,
img#clock-icon {
  width: 2em;
}
/**********************************************
GAME CARDS
**********************************************/
div#cards-container {
  margin: 1% auto;
  margin-top: 5%;
  width: 95%;
  text-align: center;
  background-color: RGBA($deepBlueColorRGBApart, .5);
  .choose-mode { // This is for the directions
    margin: 0 auto;
    color: white;
    font-size: 2.5em;
    text-shadow: 1px 1px 5px black;
    @include prefix(animation, appear 3s infinite linear alternate, webkit moz ms o);
    span.reminders {
      font-size: .8em;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
div.image-div {
  cursor: pointer;
  width: 23%;
  max-width: 200px;
  height: 100px;
  max-height: 200px;
  margin: 1%;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  text-align: center;
  background-color: RGBA(255, 255, 255, .8);
  box-shadow: 0px 0px 5px darken($deepBlueColorHEX, 10%);
  @include prefix("border-radius", .5em, webkit moz);
  &:hover {
    background-color: RGBA(255, 255, 255, .9);
  }
  img {
    @include prefix("border-radius", .5em, webkit moz);
    width: 100%;
    height: 100%;
    display: none;
  }
}
/**********************************************
DEVELOPER INFO
**********************************************/
div.developer-info {
  width: 100%;
  font-weight: 200;
  text-align: center;
  background: RGBA(36, 95, 146, 0.5);
  padding: 2%;
  color: #eee;
  margin-top: 2%;
  a {
    color: #056298;
    text-decoration: none;
    display: inline-block;
    @include prefix(transition, transform 1s, webkit moz o);
    &:hover {
      color: darken(#056298, 10%);
      font-weight: bold;
      @include prefix(transform, rotate(1turn), webkit ms o moz);
    }
  }
  p {
    display: block;
    span.date {
      color: #056298;
      text-decoration: none;
      display: inline-block;
    }
  }
}
/**********************************************
GAME RANKING INFO OVERLAY
**********************************************/
div#ranking-outer-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  div#ranking-inner-div {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 1%;
    font-family: "Open Sans", sans-serif;
    div.ranking-title-div {
      background-color: $mainOrangeColor;
      width: 100%;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 1%;
      span.rankings {
        display: none;
        color: #FFFFFF;
        text-shadow: 1px 1px 5px black;
        font-size: 2.5em;
      }
    }
    div.key-div {
      width: 100%;
      margin: 0 auto;
      div.icon-div {
        width: 10%;
        display: inline-block;
        text-align: right;
        img.icon-image {
          max-width: 50%;
          min-width: 40px;
          padding: 3px;
        }
      }
      div.icon-definition {
        display: inline-block;
        width: 88%;
        margin-left: 1%;
        font-size: .8em;
        color: $kashmirBlueColor;
        padding: 5px;
      }
    }
    .construction {
      width: 100%;
      text-align: center;
      color: #5A7389;
      font-size: 3vw;
      font-weight: bold;
      position: absolute;
      left: 0;
    }
    .ranking-div {
      width: 100%;
      padding: 1% 0;
      @include prefix(display, flex, webkit ms);
      @include prefix(align-items, center, webkit);
      .ranking-row {
        display: inline-block;
        width: 23.33%;
        color: darken($mainOrangeColor, 5%);
        text: {
          align: center;
          transform: uppercase;
        }
        &:first-child {
          width: 30%;
        }
        .ranking-star {
          max-width: 20%;
          padding: 0 2px;
        }
        .ranking-name {
          text-transform: none;
          font-size: smaller;
          padding: 5px;
          &.expert {
            color: #1294FB;
          }
          &.novice {
            color: #2C912E;
          }
          &.beginner {
            color: #F21100;
          }
        }
      }
      .rank-mouse-icon {
        max-width: 80px;
      }
    }
  } // Ends inner div
}


/**********************************************
MEDIA QUERY - MEDIUM > 768px
**********************************************/
@media (min-width: 768px) {

  header {
    h1 {
      margin-top: 0;
      padding-bottom: 0;
      font: {
        size: 1.8em;
        weight: 900;
        family: "Orbitron", cursive;
      }
      // border: 2px solid orange;
    }
    img#cat {
      width: 2em;
      vertical-align: middle;
      // border: 2px solid blue;
    }
  }

  body {
    width: 95%;
    max-width: 1200px;
    margin-top: 1em;
  }
  div.info-game-container {
    @include prefix(display, flex, webkit ms);
    @include prefix(display, flexbox, ms);
    @include prefix(display, box, webkit);
    @include prefix(flex-direction, row, webkit);
    div.game-info-div {
      max-width: 23%;
      margin-left: .5%;
      margin-right: .5%;
      @include prefix(display, flex, webkit ms);
      @include prefix(display, flexbox, ms);
      @include prefix(display, box, webkit);
      @include prefix(flex-direction, column, webkit);
      @include prefix(justify-content, center, webkit);
      div.game-info {
        margin: 1% 0;
        max-width: 100%;
      }
    }
    div#cards-container {
      margin-top: 1%;
      margin-left: 1%;
      div#game-cards {
        max-width: 73%;
        margin: 1%;
      }
    }
  }
  div.image-div {
    width: 20%;
    max-width: 200px;
    height: 100px;
    max-height: 200px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    img {
      @include prefix("border-radius", .5em, webkit moz);
      width: 100%;
      height: 100%;
    }
  }

// div.key-div {
//   width:
// }


} /* Ends media query for medium screens */

/**********************************************
MEDIA QUERY - LARGE > 1116px
**********************************************/
@media (min-width: 1116px) {

  header {
    text-align: right;
  }

}

@media (max-width: 499px) {

  div#ranking-outer-overlay div#ranking-inner-div {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding: 0;
  }

  div#ranking-outer-overlay div#ranking-inner-div div.key-div div.icon-definition {
    font-size: .7em;
    padding: 0;
  }

  div#ranking-outer-overlay div#ranking-inner-div div.key-div div.icon-div img.icon-image {
    max-width: 100%;
    min-width: auto;
  }

  div#ranking-outer-overlay div#ranking-inner-div div.key-div div.icon-div {
    padding-left: 2%;
  }

}

@media (max-width: 340px) {

  div#ranking-outer-overlay div#ranking-inner-div div.key-div div.icon-definition {
    font-size: .6em;
    padding: 0;
  }

}
